.map {
	width: 100%;
	margin: 0 auto;
	display: block;
}

.map /deep/ svg {
	padding: 0;
	border: 1px solid #484848;
	overflow: visible;
	margin: 0 auto;
	display: block;
}


.map /deep/ .device text {
	fill: #c9c9c9;
	font-size: 13px;
}

.map /deep/ rect.sector {
	fill: #383030;
	stroke: #594747;
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-dasharray: 5;
}

.map /deep/ text.sector {
	fill: #2F1D1D;
	font-size: 19px;
	font-weight: bold;
}

.map /deep/ text.sector {
	fill: #2F1D1D;
	font-size: 19px;
	font-weight: bold;
}

.map /deep/ circle.glow {
	stroke: #FE7400;
	stroke-width: 2.5;
	fill: none;
	-webkit-animation: glow 1s infinite; /* Chrome, Safari, Opera */ 
	animation: glow 1s infinite;
}

.map /deep/ circle.hide {
	fill: none;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes glow {
    from {opacity: 1;}
		75% {
			opacity: 0;
			transform: scale(1.5);
		}
		100% {
			opacity: 0;
			transform: scale(1);
		}
}

/* Standard syntax */
@keyframes glow {
    from {opacity: 1;}
		75% {
			opacity: 0;
			transform: scale(1.5);
		}
		100% {
			opacity: 0;
			transform: scale(1);
		}
}