<header mdl>
  <a class="logo" href="#">Ericsson Dashboard</a>
	<button *ngIf="false" id="demo-menu-lower-right"
	    class="mdl-button mdl-js-button mdl-button--icon settings">
	  <i class="material-icons">build</i>
	</button>
  <nav class="mainmenu">
    <span [ngClass]="{active: activeDeviceIndex==idx}" (click)="switchActiveDevice(idx)" *ngFor="#d of devices; #idx = index">{{d.name}}</span>
  </nav>
	<div class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
	    for="demo-menu-lower-right">
	  <div class="settingstab">
	  	<span>Aktualisierungsrate: {{datarate}}ms</span>  
	  	<input class="mdl-slider mdl-js-slider" type="range"
  min="250" max="1000" [(ngModel)]="datarate" (ngModelChange)="updateDatarate()" tabindex="0">
	  </div>
	</div>
</header>
<div class="page-content">

<div class="page-collumn">
		<ericsson-widget-container [deviceID]="deviceIDs[0]" [defaultWidget]="2" [device]="devices[deviceIDs[0]]" (overrideDeviceID)="overrideDevice(0, $event)"></ericsson-widget-container>
		<ericsson-widget-container [deviceID]="deviceIDs[1]" [defaultWidget]="0" [device]="devices[deviceIDs[1]]" (overrideDeviceID)="overrideDevice(1, $event)"></ericsson-widget-container>
</div>


<div class="page-collumn">
		<ericsson-widget-container [deviceID]="deviceIDs[2]" [defaultWidget]="4" [device]="devices[deviceIDs[2]]" (overrideDeviceID)="overrideDevice(2, $event)"></ericsson-widget-container>
		<ericsson-widget-container [deviceID]="deviceIDs[3]" [defaultWidget]="1" [device]="devices[deviceIDs[3]]" (overrideDeviceID)="overrideDevice(3, $event)"></ericsson-widget-container>
</div>


<!--
<div class="bl-grid">

	<div class="bl-cell bl-cell-big bl-grid">

		<ericsson-widget-container [deviceID]="mainWidgetDeviceID" [device]="devices[mainWidgetDeviceID]" [defaultWidget]="0" (overrideDeviceID)="overrideDevice(0, $event)"></ericsson-widget-container>

	</div>
	<div class="bl-cell bl-cell-small bl-grid">

		<ericsson-widget-container [deviceID]="topWidgetDeviceID" [device]="devices[topWidgetDeviceID]" [defaultWidget]="0" (overrideDeviceID)="overrideDevice(1, $event)"></ericsson-widget-container>

		<ericsson-widget-container [deviceID]="bottomWidgetDeviceID" [device]="devices[bottomWidgetDeviceID]" [defaultWidget]="1" (overrideDeviceID)="overrideDevice(2, $event)"></ericsson-widget-container>

		

	</div>

</div>
-->

</div>