<div class="widgetcont">
	<div class="menutop left font">{{device?.name}} - {{widgetList[activeWidget].name}}</div>
	<div class="menutop menuright" (click)="menuActive=!menuActive"><i class="material-icons">&#xE42A;</i></div>
	<div class="cover loading" [ngClass]="{hide: !loading}">
		<span>{{device?.name}}</span>
	</div>
	<div class="cover anim widgetcontrol" [ngClass]="{hide: !menuActive}">
		<div class="header">
			<h2><span class="clickable" (click)="overrideDevice(-1)">&laquo;</span> {{device?.name}} <span class="clickable" (click)="overrideDevice(1)">&raquo;</span></h2>
			<h4>{{widgetList[activeWidget].name}}</h4>
		</div>
		<div class="widgetselection">
			<div class="btn" (click)="switchWidget('left')"><i class="material-icons">&#xE314;</i></div>
			<div class="activewidgeticon" (click)="menuActive=false"><i class="material-icons"[innerHTML]="widgetList[activeWidget].icon"></i></div>
			<div class="btn" (click)="switchWidget('right')"><i class="material-icons">&#xE315;</i></div>
		</div>
		<div class="footer">
			  	<input class="mdl-slider mdl-js-slider" type="range"
		  min="300" max="2000" [(ngModel)]="datarate" tabindex="0">
			<span>Refresh rate: {{datarate}}ms</span>  
		</div>
	</div>
	<div [ngSwitch]="widgetList[activeWidget].index" *ngIf="ready" class="anim" [ngClass]="{minheight: menuActive}" style="max-height:{{height}}px; width:90%;">
		
		<ericsson-widget-datamonitoring *ngSwitchWhen="0" [deviceID]="_deviceID" [datarate]="datarate" [width]="width" [height]="height" [sensors]="widgetList[activeWidget].sensors" [sensorIDs]="widgetList[activeWidget].ids"></ericsson-widget-datamonitoring>

		<ericsson-widget-datamonitoring *ngSwitchWhen="1" [deviceID]="_deviceID" [datarate]="datarate" [width]="width" [height]="height" [sensors]="widgetList[activeWidget].sensors" [sensorIDs]="widgetList[activeWidget].ids"></ericsson-widget-datamonitoring>

		<ericsson-widget-accelerationmonitoring *ngSwitchWhen="9" [deviceID]="_deviceID" [datarate]="datarate" [width]="width"></ericsson-widget-accelerationmonitoring>

		<ericsson-widget-livemap *ngSwitchWhen="9" [deviceID]="_deviceID" [datarate]="datarate"></ericsson-widget-livemap>

		<img *ngSwitchWhen="3" [src]="livestreamurl" class="livestream" alt="camera offline" />

	</div>
</div>