.chart {
	text-align: center;
	width: 100%;
}

.chart /deep/ svg {
	padding: 10px 0 30px;
	margin: 5px auto;
	overflow: visible;
}

.chart /deep/ path {
	stroke: #2D87C9;
	stroke-width: 1;
	fill: none;
}

.chart /deep/ .axis path,
.chart /deep/ .axis line {
    fill: none;
    stroke: #3e3e3e;
}

.chart /deep/ text {
	font-size: 11px;
}

.chart /deep/ .tick text{
    font-size: 10px;
    opacity: 0.8;
}

.chart /deep/ .tick line{
	opacity: 0.1;
}

.chart /deep/ .critical{
	//fill: rgb(255, 235, 235);
	fill: #FF93D4;
}

.chart /deep/ .risk{
	//fill: #FFFFE8;
	fill: #FCFF86;
}

.chart /deep/ .dashedline {
	stroke-width:0.4px;
	stroke: rgb(255, 117, 0);
}

.chart /deep/ .maxline {
	stroke-width:1px;
	stroke: rgb(255,80,80);
}